@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@import "./assets/styles/theme.css";

@theme {
   /*  */
   --color-warning: #FBD8BC33;
   --color-warning-background: #FBD8BC33;
   --color-warning-200: #C06D00;
   --color-warning-300:#A25900;
   --color-warning-400: #EA9800;
   --color-border: #D9D9D9;
   /*  */
   --text-12: 12px;
   --text-12--leading:16px;
   
   --text-14: 14px;
   --text-14--leading: 20px;

   --text-16: 16px;
   --text-14--leading: 24px;

   --text-30: 30px;
   --text-30--leading: 36px;
   /*  */
   --radius-10: 10px
}


@layer components {
 .card {
    @apply rounded-3xl p-5 bg-white border border-white/50 shadow-sm
 }
}

